<div class="card">
    <table>
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Curso</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{lista[0].matricula}}</td>
                <td>{{lista[0].nome}}</td>
                <td>{{lista[0].email}}</td>
                <td>{{lista[0].curso}}</td>
                <td>{{lista[0].cadastro}}</td>
            </tr>
            <tr>
                <td>acame</td>
                <td>folon</td>
                <td>ered</td>
                <td>wereven</td>
                <td>nautic</td>
            </tr>
            <tr>
                <td>asteric</td>
                <td>funct</td>
                <td>asebal</td>
                <td>laraght</td>
                <td>fenon</td>
            </tr>
        </tbody>
    </table>
</div>
